.wrapper
  =render partial: "shared/header"

  .side
    =render partial: "shared/side"

  .user-main
    .profile
      %h2 MyPage
      %h3 Profile
        .profile__name Name
          = current_user.name
        .profile__about About
          = current_user.about
      .edit_btn
        = link_to "Edit", edit_user_path(current_user), class="btn"
        
    .posts
      %h3 Posts
      = render partial: "users/post"

