.main {
  //background-color: gray;
  width:calc(100vw - 300px);
  height: calc(100vh - 80px);
  padding: 80px 50px 30px 250px;
  float: left;
  overflow: scroll;
  h2 {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #616161;
  }
}