.post {
  border: 1px solid #eeeeee;
  padding: 10px;
  margin-bottom: 20px;
  color: #424242;
  max-width: 700px;
  &__head {
    border-bottom: 1px solid #eeeeee;
    display: flex;
    &__title {
      font-size: 20px;
      flex-grow: 1;
    }
    &__date {
      margin-left: 10px;
    }
  }
  &__text {
    word-wrap: break-word;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__links {
    display: flex;
    &__tag {
      flex-grow: 1;
    }
    &__delete {
      margin-left: 10px;
    }
  }
  &__foot {
    display: flex;
    &__comment {
      flex-grow: 1;
    }
    &__like {
      margin-left: 10px;
    }
  }
}