.post {
  border: 1px solid #eeeeee;
  padding: 10px;
  color: #424242;
  max-width: 700px;
  margin: 0 auto 20px auto;
  &__head {
    border-bottom: 1px solid #eeeeee;
    display: flex;
    &__title {
      font-size: 20px;
      flex-grow: 1;
    }
    &__date {
      margin-left: 10px;
    }
  }
  &__text {
    word-wrap: break-word;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__links {
    display: flex;
    &__tag {
      margin-left: 10px
    }
    %li {
      list-style: none;
    }
  }
  &__foot {
    display: flex;
    &__comment {
      flex-grow: 1;
    }
    &__delete {
      margin-left: 10px;
    }
    &__like {
      margin-left: 10px;
    }
    
  }
  &__comment {
    margin: 10px;
  }
}

.post-btn {
  color: #ffa726;
  text-decoration: none;
}