.profile {
  //background-color: red;
  border: 1px solid #eeeeee;
  padding: 10px;
  color: #424242;
  max-width: 700px;
  margin: 0 auto 20px auto;
  &__image {
    float: left;
    margin-right: 10px;
  }
  &__name {
    //background-color: gray;
    font-size: 20px;
    border-bottom: 1px solid #eeeeee;
  }
  &__about {
    //background-color: yellow;
    word-wrap: break-word;
  }
}
